@model IEnumerable<HealthcareApp.Models.Health.Doctor>

@{
    ViewData["Title"] = "Search by Specialization and name";
}

<style>
    body {
        background-color: #f0f2f5;
        color: #333;
        font-family: Arial, sans-serif;
    }

    h1 {
        margin-top: 20px;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }

    form {
        margin-bottom: 20px;
        text-align: center;
    }

    select, input {
        margin-right: 10px;
        padding: 8px;
        font-size: 14px;
        line-height: 1.5;
        border: 1px solid #ccc;
        border-radius: 4px;
    }


   

      
</style>

<h1>Search by Specialization and name</h1>

<p>
    <form action="/Doctors/SearchBy2" method="post">
        <select name="specialization">
            <option value="ALL">ALL</option>
            @foreach (var item in ViewBag.Specialization)
            {
                <option value=@item> @item</option>
            }
        </select>
        <input type="text" name="name" />
        <button type="submit">Submit</button>
    </form>
    <a asp-action="Create">Create New</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenseNumber)
            </th>
            <th>
                Actions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenseNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
